.contact {
  grid-template-columns: 1fr 1fr;
  column-gap: 20rem;
  align-items: center;
}

.contact__desciption {
  font-size: var(--font-size-20);
  line-height: 1.9;
}

.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}

.contact__social {
  transition: var(--transition-timing);
}

.contact__social:hover {
  transform: scale(1.2);
}

/*Input*/

.contact__inputs {
  display: flex;
  gap: 3rem;
}

.contact__input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.1rem solid var(--color-input-border);
  flex: 1;
  color: var(--color-text);
}

.contact__textarea {
  width: 100%;
  margin-top: 4rem;
  color: var(--color-text);
}

.contact__button {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 1.7rem 1.8rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
  margin-top: 3.4rem;
}

form:invalid::after {
  /*search*/
  content: "Enter your data please";
  font-size: var(--font-size-38s);
  color: var(--color-red);
}